/Ripcord-0.4.22-x86_64.AppImage
/Ripcord-0.4.23-x86_64.AppImage
/Ripcord-0.4.24-x86_64.AppImage
/Ripcord-0.4.25-x86_64.AppImage
/Ripcord-0.4.26-x86_64.AppImage
/Ripcord-0.4.27-x86_64.AppImage
/Ripcord-0.4.28-x86_64.AppImage
